.cs-block:nth-child(2n) {
  margin-top: 48px;
}

.cs-block__link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.cs-block__header {
  margin-bottom: 16px;
}

.cs-block__img {
  margin-bottom: 16px;
}