.masthead {
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase;
  padding: 8px 0;
  margin-bottom: 80px;
}

.masthead__logo {
  margin-bottom: 0;
  font-size: 20px;
}

.masthead__logo-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 400;
  text-decoration: none;
}


.masthead__logo-link:hover {
  text-decoration: underline;
}


.masthead__logo-mark {
  margin-right: 12px;
}
.logo-bkg {
  fill: var(--yellow);
  transition: fill 1s cubic-bezier(0, 0, 0.06, 1.06);
}

.masthead__logo-link:hover .logo-bkg {
  fill: var(--beige);
}

.main-nav__list {
  list-style: none;
}

.main-nav__list-item a {
  color: var(--text-color);
  text-decoration: none;
}

@media (--mq-med) {
  .masthead {
    margin-bottom: 160px;
  }
  .main-nav__list-item {
    font-size: 20px;
    margin-left: 36px;
  }
}