---
layout: base
---

<header class="cs-header">
    <h1 class="mega">{{ cs_title }}</h1>
    <p class="h3 cs-header__byline">{{ byline }}</p>
    <div class="cs-header__info-grid">
        <p><strong>Role</strong><br> {{ role }}</p>
        <p><strong>Date</strong><br> {{ page.date | workDate }}</p>
        <p><strong>Contribution</strong><br> {{ contribution }}</p>
    </div>
</header>

<div>
    {{ content | safe }}
</div>

<nav class="cs-nav">
    {% set previousCase = collections.work | getPreviousCollectionItem(page) %}
    {% set nextCase = collections.work | getNextCollectionItem(page) %}
    {% if previousCase %}
        <h4 class="margin-none">Read next</h4>
        <p><a href="{{ previousCase.url }}">{{ previousCase.data.title }} »</a></p>{% endif %}
</nav>