---
layout: case-study
tags: work
date: 2020-06-01
title: Benenden Health
cs_title: Proposition demystifying for improved conversion
byline: After a year's worth of experimentation, I led a redesign of Benenden's core healthcare pages to a 15% uplift
featured_image: /assets/images/work/benenden-cover.png
featured_image_alt: Benenden Health comparison graphic
role: Lead designer
contribution: Expert reviews, prototyping (both in Sketch and HTML), A/B test building, workshop facilitation, research analysis
---

<section class="cs-section">
    <div class="content-narrow">
        <h3>Introduction</h3>
        <p>Benenden Health were pushing themselves with a stretch target of increased yearly leads, and came to Code to help improve conversion.</p>
        <p>Our approach built up a roadmap that balanced learning more about the user through surveys, and direct experimentation on the site.</p>
    </div>
</section>

<section class="cs-section">
    <div class="">
        <div class="grid sm:grid-cols-2 sm:gap-8 items-center">
            <div>
                <figure>
                    <img src="/assets/images/work/benenden-proto1.jpg" alt="Benenden Healthcare prototype" class="mb-4">
                    <figcaption>
                      Early prototype</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="/assets/images/work/benenden-proto2.jpg" alt="Benenden Healthcare prototype test" class="mb-4">
                    <figcaption>
                      Final experiment where I redesigned the hero to be more visually aligned with the brand and move away from the handwritten font used in headings
                    </figcaption>                
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="cs-section">
    <div>
        <h3>Healthcare redesign</h3>
        <p><strong>Key challenges</strong><br> People don't fully understand what Benenden Health offer, and there were key usability issues on the core pages I believed to be causing issues.</p>
        <p><strong>Approach</strong><br>
        Content design workshop with the client, into production of a prototype for lab research. I designed the prototype in Sketch, then built it into VWO (our A/B testing tool) so the prototype loaded directly into the site giving users a seamless experience if they visited pages not directly in our test.</p>
        <p>I observed, took notes in a matrix and analysed the results of testing. I designed and built a 2nd iteration which we chose to quantitatively test via A/B testing on the site. It was a big test, swapping out a key part of their site but we had confidence through our months of insight gathered via surveys, and output from usability testing.</p>
        <p><strong>Results</strong><br> The A/B test reached significance after 30 days, with an overall 14.7% increase in join rate - with a huge 20.6% increase on mobile.</p>
    </div>
</section>