---
layout: case-study
tags: work
date: 2020-06-01
title: Benenden Health
cs_title: Optimising Benenden Health's core proposition pages
byline: After a year's worth of experimentation, I led a redesign of Benenden's core healthcare pages to a 15% uplift in conversion.
featured_image: /assets/images/work/benenden-cover.jpg
featured_image_alt: Benenden Health comparison graphic
role: Lead designer
contribution: Expert reviews, prototyping (both in Sketch and HTML), A/B test building, workshop facilitation, research analysis
---

<section class="cs-section">
    <div class="content-narrow">
        <h2>The challenge</h2>
        <p>Not-for-profit healthcare provider Benenden Health were pushing themselves with a stretch target of increased yearly leads. They were getting a lot of traffic from TV campaigns, but this traffic wasn't necessarily converting into leads.</p>
        <p>I conducted an expert review which showed there were numerous usability and accessibility issues that could be addressed, but after the CRO team ran some surveys on the site it also became clear that people were struggling to understand Benenden's core proposition.</p>
    </div>
</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Incremental test and learn</h2>
        <p>Over a year, I worked closely with our data analyst and optimisation specialist to design A/B tests across the B2C journey looking to improve areas on the form, but also to grow our understanding of what information and to what level was important to users, for example around the inclusions of the healthcare product.</p>
    </div>
</section> 

<section class="cs-section">
    <div class="content-narrow">
        <h2>Healthcare redesign</h2>
        <p>In January 2020, we launched an A/B test changing the entire B2C healthcare section of the Benenden Health site. This was a multi-hypothesis test and the culmination of a year’s worth of research and experimentation where we gained a lot of insight into a user’s understanding of Benenden and the type of information they were looking for. We had observed:</p>
        <ul>
            <li>people struggle to understand the proposition and what was included</li>
            <li>usability issues across the site</li>
            <li>a positive effect from implementing a clearer layout on the B2B healthcare pages</li>
        </ul>
        <h3 class="h4">Approach</h3>   
        <p>I co-facilitated a co-design content workshop with the client, where as a group we used our insight and their subject matter expertise to start laying out content in a better hierarchy. I took this into production of a mid-fidelity prototype for lab research. I designed the prototype in Sketch, then built it into VWO (our A/B testing tool) so the prototype loaded directly into the site giving users a seamless experience if they visited pages not directly in our test.</p>
        <p>I observed, took notes in a matrix and analysed the results of testing to take into a second interation we'd test quantatively on-site.</p>
</div>
<section class="cs-section">
    <div class="grid cols-half">
        <div>
            <figure>
                <img src="/assets/images/work/ben-1.png" alt="Screenshot of Benenden's B2C homepage" class="mb-4">
                <figcaption>
                    The original healthcare homepage</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="/assets/images/work/ben-proto.png" alt="A prototype of a new healthcare homepage" class="mb-4">
                <figcaption>
                    Medium fidelity content prototype of the healthcare homepage
                </figcaption>                
            </figure>
        </div>
    </div>
</section>
<section class="cs-section">
    <div class="content-narrow">
        <h4 class="h5">Round two</h4>
        <p>In the usability testing, I tried to keep existing components from the current site as our client's tech team had quite a large backlog and we were conscious of creating work that wouldn't be built. However, after testing it was clear to me this just wasn’t going to work. There were fundamental issues with lots of their existing components and we now had usability testing insight to back that up, we needed to make bigger changes if we wanted to get the big results we knew we could get.</p>
    </div>
</section>

<section class="cs-section">
    <div class="grid cols-2third">
        <div>
            <figure>
                <img src="/assets/images/work/ben-proto2.jpg" alt="Benenden Healthcare prototype" class="mb-4">
                <figcaption>
                    The new B2C healthcare homepage (screenshot of live test)</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="/assets/images/work/ben-proto2-mb.jpg" alt="Benenden Healthcare prototype test" class="mb-4">
                <figcaption>
                    Mobile view (earlier screenshot)
                </figcaption>                
            </figure>
        </div>
    </div>
</section>