---
layout: case-study
tags: work
date: 2022-04-01
title: Co-op Funeralcare
cs_title: Bringing a user-centred mindset to compliance and regulation
byline: I lead the design on creating a FCA compliant funeral plan sales journey.
featured_image: /assets/images/fnc-cover.png
featured_image_alt: 
role: Lead designer
contribution: Prototyping, UX/UI design, research observation and analysis, pairing with engineers
locked: yes
---

<section class="cs-section">
    <div class="content-narrow">
        <h2>The challenge</h2>
        <p>The funeral plans industry was to become regulated by the FCA (Financial Conduct Authority), meaning Co-op Funeralcare had to change how they sell their plans through all channels. The ‘as-is' state was a user could see all plans in the purchase journey and make a selection, whereas the new state would require the user would need to go through a ‘demands and needs' assessment to be shown plans that fit their requirements.</p>
    </div>

</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Kicking things off</h2>
        <p>We were presented with a complex-seeming process map from our colleagues in the regulation and compliance team, focused on covering the regulations from the view of an in-person sales conversation in a funeral home. Our job was to turn regulatory requirements into a digital service that's useful and usable by people.</p>
        <p>The team ran a workshop to make a start at distilling the demands and needs questions into a rough, post-it noted flow.</p>
    </div>
</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Using design to show the thing early</h2>
        <p>I joined the team at this point, a couple of weeks after conversations had started.</p>
        <p>I love a process map but this still felt fairly abstract, so we moved quickly into developing the flow as very basic lo-fi wireframes.</p>
        <p>This had huge benefits:</p>
        <ul>
            <li>helped us better visualise potential areas of friction</li>
            <li>generated a <strong>big</strong> list of compliance questions</li>
            <li>allowed us to <strong>show the thing fast,</strong> giving us something more tangible to show our thinking to stakeholders and facilitate more productive discussions.</li>
        </ul>
    </div>
    <div class="grid cols-half cs-spacer">
        <div>
            <figure>
                <img src="/assets/images/fnc-map.png">
                <figcaption>First pass flow diagram</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="/assets/images/fnc-early.png">
                <figcaption>Low fidelity wireframes</figcaption>
            </figure>
        </div>
    </div>
    <div class="content-narrow">
        <p>There were lots of things in the supplied process diagram that didn't feel suitable for the online journey, but playing this back as another form of diagram was too [abstract].</p>
        <p>I quickly moved into high-fidelity design. It was important to see how visual design could help us show complicated content, and given Co-op has a design system which makes it quick to design pages containing forms, this was much more efficient than spending too much time in low-fidelity land.</p>
    </div>
</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Turning questions into content</h2>
        <p>The process diagram had a lot of yes/no questions that while made sense for a face-to-face interaction, felt arduous or completely mispositioned for a digital interaction. For example, asking questions to check the client doesn't want the types of funerals we exclude, 34 steps into the process. I shifted a lot of this information into an up-front ‘screener' page, working with a content designer</p>
    </div>
    <div class="grid cols-thirds-md cs-spacer">
        <div><img src="/assets/images/fnc-content-1.png" class="rounded shadow"></div>
        <div><img src="/assets/images/fnc-content-2.png" class="rounded shadow"></div>
        <div><img src="/assets/images/fnc-content-3.png" class="rounded shadow"></div>
    </div>
</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Test and learn fast</h2>
        {# <p>With the regulations having a hard deadline the business needed to be ready for, I ensured we were continuously chatting to our engineers to understand complexity and their timelines.</p>
        <p>I set our team some tight deadlines, giving ourselves 2 weeks to go from low fidelity starter-for-ten to testable prototype. It was important to not impact when the engineers needed to start and I wanted to ensure we were being decisive and understanding any problem areas with our interpretation of the regulations quickly.</p> #}
        <p>With principle-based regulation, there is a certain element of interpretation and I didn't want us to get bogged down with detail. I also wanted our users to tell us where the regulations were actually tripping them up so we could use this as evidence in conversations with the FCA.</p>
        <p>A real sticking point for us as a team during the design process was the demands and needs questions. We started with two radio buttons, went to a decision tree and other simple chaining of questions, but ultimately the weighting factor for either ‘bucket' of options was cost. This felt very opaque to us but the regulations said we weren't allowed to talk about cost before we'd understood the user's needs.</p>
        <p>We split testing over two days, and the first day we weren't surprised to hear cost (or lack of) was a sticking point and a barrier to user's *making an informed choice.* I made a very quick edit to the prototype for day 2, ‘these plans cost more' and ‘these plans cost less' and we saw a marked improvement to a user's understanding. We took this back to our compliance colleagues and asked ‘would showing a *from* price be a problem?' and given the evidence, they felt comfortable with this. We also presented this back to the FCA and it hasn't been a problem given our evidence.</p>
    </div>

    <div class="content-mid cs-spacer">
        <figure>
            <img src="/assets/images/fnc-testing.png">
            <figcaption>The demands and needs design iterating over testing</figcaption>
        </figure>
    </div>

    <div class="content-narrow">
        <h3>Accessibility from the outset</h3>
        <p>I'm a big advocate for accessibility and it's been considered from the start of the design and build. Due to VPN issues, our assistive tech users can't access our development environment, but I conducted an interview with an expert screen reader user and got them to demo examples of some calculator functionality similar to what we were designing and get their expertise on how best to build it and read out values. I also built a desktop prototype we tested with a screen magnification user and voice activated tech user.</p>
</section>