---
layout: case-study
tags: work
date: 2022-04-01
title: Co-op Funeralcare
cs_title: Bringing a user-centred mindset to compliance and regulation
byline: I lead the design on creating a FCA compliant funeral plan sales journey.
featured_image: /assets/images/work/fnc-cover.png
featured_image_alt: 
role: Lead designer
contribution: Prototyping, UX/UI design, research observation and analysis, pairing with engineers
---

<section class="cs-section">
    <div class="content-narrow">
        <h2>The challenge</h2>
        <p>The funeral plans industry was to become regulated by the FCA (Financial Conduct Authority), meaning Co-op Funeralcare had to change how they sell their plans through all channels. The ‘as-is’ state was a user could see all plans in the purchase journey and make a selection, whereas the new state would require the user would need to go through a ‘demands and needs’ assessment to be shown plans that fit their requirements.</p>
    </div>

</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Kicking things off</h2>
        <p>We were presented with a complex-seeming process map from our colleagues in the regulation and compliance team, focused on covering the regulations from the view of an in-person sales conversation in a funeral home. Our job was to turn regulatory requirements into a digital service that’s useful and usable by people.</p>
        <p>The team ran a workshop to make a start at distilling the demands and needs questions into a rough, post-it noted flow.</p>
    </div>
</section>

<section class="cs-section">
    <div class="content-narrow">
        <h2>Using design to show the thing early</h2>
        <p>I joined the team at this point, a couple of weeks after conversations had started.</p>
        <p>I love a process map but this still felt fairly abstract, so we moved quickly into developing the flow as very basic lo-fi wireframes.</p>
        <p>This had huge benefits:</p>
        <ul>
            <li>helped us better visualise potential areas of friction</li>
            <li>generated a <strong>big</strong> list of compliance questions</li>
            <li>allowed us to <strong>show the thing fast,</strong> giving us something more tangible to show our thinking to stakeholders and facilitate more productive discussions.</li>
        </ul>
        <p>There were lots of things in the supplied process diagram that didn’t feel suitable for the online journey, but playing this back as another form of diagram was too [abstract].</p>
        <p>I quickly moved into high-fidelity design. It was important to see how visual design could help us show complicated content, and given Co-op has a design system which makes it quick to design pages containing forms, this was much more efficient than spending too much time in low-fidelity land.</p>
    </div>
</section>
