---
layout: case-study
tags: work
date: 2020-08-01
title: JCT600
cs_title: Taking a car dealership customer portal from proof of concept to MVP
byline: I lead the design on JCT600's customer portal, a tool with a business need starting point and tried to discover user value.
cs_thumb: /assets/images/jct600-cover.png
cs_thumb_webp: /assets/images/jct600-cover.webp
cs_thumb_alt: 
featured_image: /assets/images/jct-hero.jpg
featured_image_alt: JCT600 customer portal onboarding screen
role: Lead designer
contribution: Service mapping, prototyping, UX/UI design, lab research observation and analysis, design system creation, stakeholder management
locked: no
---

<div class="wrapper">
    <section class="cs-section">
        <div class="content-narrow js-fade">
            <h2 class="h4 brow">The challenge</h2>
            <h3 class="h2">Time spent on admin is time spent not selling</h3>
            <p>JCT600 are a firm who own car dealerships across the North. They had an ambitious goal - to make digital their 54th dealership, helping deal finders switch cars when the time is right for them. At Code Computerlove, we were tasked with exploring a solution to capture a customer's details ahead of their appointment at a dealership, to allow their sales staff to focus on the experience of the appointment and test drive and reduce time spent on admin tasks.</p>
            <p>The business had identified a lot of time was spent by their salespeople doing data entry. At the time, the sales process in a dealership took around 3 hours from the customer entering the dealership, to building the deal. For the staff, there was a lot of double-keying of information into different systems which really increased the length of this process. </p>
            <p>They wanted to reduce the amount of time spent on admin and get the customer into the car and on their test drive faster.</p>
        </div>

    </section>

    <section class="cs-section">
        <div class="content-narrow js-fade">
            <h2 class="h4 brow">Discovery</h2>
            <h3 class="h2">Learning how to sell a car</h3>
            <p>I kicked this piece of work off by spending a day at one of JCT600's dealerships, learning how they sell a car and understanding the systems involved in this process. The next step was visualising this as a service map.</p>
        </div>
        <figure class="cs-spacer js-fade">
            <img src="/assets/images/portal-map.jpg">
            <figcaption>A map of the process from test drive appointment to sale</figcaption>
        </figure>
    </section>

    <section class="cs-section">
        <div class="content-narrow js-fade">
            <h2 class="h4 brow">Proof of concept</h2>
            <h3 class="h2">Understanding customer appetite</h3>
            <h3 class="h4">Key challenges</h4>
            <p>Technical limitation of one way (send only) data. At this stage, I felt we were creating something for the customer that mostly served the business and value exchange was low.</p>
            <h3 class="h4">Approach</h4>
            <p>I created a basic prototype of the portal to test the flow with users in the lab, with a goal of understanding how people felt about the concept and sharing data that was either personal (driving licence) or felt too early (part-exchange information) ahead of a test drive.</p>
            
        </div>
        <div class="cs-spacer js-fade">
            <figure>
                <img src="/assets/images/jct-cs-poc1.png">
                <figcaption>A simple prototype and a process document</figcaption>
            </figure>
        </div>
    </section>

    <section class="cs-section">
        <div class="content-narrow js-fade">
            <h2 class="h4 brow">Design</h2>
            <h3 class="h2">Proof of concept - iteration two</h3>
            <h4>Key challenges</h4>
            <p>In testing, it was loud and clear there wasn't enough value to the customer in the portal yet. Customers have a negative perception of car salespeople (<em>"they're all charlatans"</em> - a quote from a participant) and didn't want to share data with them. They also had no context for time-saving; people don't buy cars frequently enough to think that a car sales appointment takes a long time. 
            </p>
            <h4>Approach</h4>
            <p>The longer term value I could see in this product required two-way data. We could potentially get information of the appointment (good!) but other integrations would be a way off. In this next iteration I bought in appointment information and focused around building in perceived value and trying to increase trustworthiness.
            </p>
            <ul class="list-disc mb-8 ml-10">
                <li>Added in onboarding to create more perceived value, working with a content designer to ensure the flow from email to task completion was clear.</li>
                <li>Pushed to have system integration with their stock database so we can pull in a photo of the car booked for the appointment to help set more focus and context to the portal, plus potentially create more excitement for the test drive.</li>
                <li>Added time labelling onto tasks to give customers more of a sense of time saving, and increased presence of gamification. (<strong>2022 note:</strong> given my increased knowledge in accessibility, I wouldn't do this today. Time taken/saved is not the same for everyone and we shouldn't assume someone's circumstances.)</li>
                <li>Created an 'info panel' design pattern and ensuring at every stage we ask the customer for details, we use this panel to explain why we need the customer's details.</li>
            </ul>
        </div>
    </section>
</div>

<div class="wrapper wrapper--wide">
    <div class="grid cols-thirds-md cs-spacer js-fade">
        <div><img src="/assets/images/jct-cs-poc2-a.png"></div>
        <div><img src="/assets/images/jct-cs-poc2-b.png"></div>
        <div><img src="/assets/images/jct-cs-poc2-c.png"></div>
    </div>
</div>

<div class="wrapper">
    <section class="cs-section">
        <div class="content-narrow js-fade">
            <h3 class="h2">MVP</h3>
            <h4>Key challenge</h4>
            <p>
                Customer value is still low - how might we improve product perception without adding new features?
            </p>
            <h4>Approach</h4>
            <p>Push to make filling out the portal a more pleasurable experience. 
            </p>
            <ul class="list-disc mb-8 ml-10">
                <li>JCT600 didn't have a strong brand or much in the way of visual design to utilise and the few colours in their palette were all inaccessible. I recommended some art direction work happened. It was important that this portal looked slick and trustworthy, the modern arm of a modern car sales business. This unlocked a further piece of work with the client. I worked with our Art Director to help inform the new visual direction for JCT600 and create a wider (and more accessible) colour palette to work from and allow us to bring in cohesive design elements and illustrations.</li>
                <li>Redesigned all elements and put the foundations of a design system in place, creating reusable components and rationalising colour usage to allow for easier iteration and growth in the future.</li>
                <li>Started designing animations and micro-interactions both to create a more enjoyable experience, but also to to provide reassurance in tasks that involve submitting user information.</li>
            </ul>
        </div>
    </section>
</div>
<div class="wrapper wrapper--wide">
    <div class="grid cols-thirds-md cs-spacer js-fade">
        <div><img src="/assets/images/jct600-motion.gif" class="rounded shadow"></div>
        <div><img src="/assets/images/jct-cs-mvp-1.png" class="rounded shadow"></div>
        <div><img src="/assets/images/jct-cs-mvp-2.png" class="rounded shadow"></div>
    </div>
</div>

<div class="wrapper">
    <section class="cs-section js-fade">
        <div class="content-narrow">
            <h2 class="h4 brow">The results?</h2>
            <h3 class="h2">A plan of capturing feedback</h3>
            <p>I fed into how we should capture both client and customer feedback, suggesting we pilot at a small number of showrooms first to gather insight. However, I left the company before I could see the product in the wild and understand the results. The product is being used in showrooms and continued to be iterated on and from what I understand, came into it's own during covid in helping to provide a safe car-buying experience.</p>
        </div>
    </section>

    <section class="cs-section js-fade">
        <div class="content-narrow">
        <h2 class="h4 brow">Reflections</h2>
        <h3 class="h2">What did I learn?</h3>
        <ul class="list-none">
            <li>
                <strong>I enjoyed..</strong> exploring micro-interactions and working with deeply ingrained negative perceptions
            </li>
            <li><strong>My biggest takeaway</strong> was learning to better document decisions - with something so technical, and where certain choices had to be made because of constraints outside our control, it was really beneficial to keep a clear trail of these choices and decisions.</li>
        </div>
    </section>
</div>