---
tags: work
date: 2020-06
title: JCT600
cs_title: Taking a car dealership customer portal from proof of concept to MVP
featured_image: /images/work/jct600-cover.png
featured_image_alt: JCT600 customer portal onboarding screen
role: Lead designer
contribution: Service mapping, prototyping, UX/UI design, lab research observation and analysis, design system creation, stakeholder management
---

<section class="cs-section my-8 sm:my-12 md:my-20">
    <div class="wrapper wrapper--wide">
        <div class="grid sm:grid-cols-3 sm:gap-8 items-center">
            <div class="col-span-2"><img src="/images/work/portal-map.jpg"></div>
            <div class="col-span-2 sm:col-span-1"><h3 class="md:text-4xl text-lg">Discovery</h3><p>I kicked the piece of work off by spending a day at one of JCT600's dealerships learning how they sell a car and understanding the systems involved in this process, then visualised this as a service map.</p></div>
        </div>
    </div>
</section>

<section class="cs-section my-8 sm:my-12 md:my-20">
    <div class="wrapper wrapper--wide">
        <div class="grid sm:grid-cols-3 sm:gap-8 items-center">
            <div class="col-span-2 sm:col-span-1">
                <h3 class="text-2xl md:text-4xl">Proof of concept</h3>
                <p><strong>Key challenge</strong><br> Technical limitations (one way data), creating something for the customer that mostly serves the business</p>
                <p><strong>Approach</strong><br> Created two basic prototypes to test the flow and gauge viability with users in the lab.</p>
            </div>
            <div class="col-span-2"><img src="/images/work/jct-cs-poc1.png"></div>
        </div>
    </div>
</section>

<section class="cs-section bg-pink py:8 sm:py-12 md:py-20">
    <div class="wrapper wrapper--wide">
        <div class="grid sm:grid-cols-3 sm:gap-8 items-center">
            <div><img src="/images/work/jct-cs-poc2-a.png"></div>
            <div><img src="/images/work/jct-cs-poc2-b.png"></div>
            <div><img src="/images/work/jct-cs-poc2-c.png"></div>
        </div>
    </div>
</section>

<section class="cs-section my-8 sm:my-12 md:my-20">
    <div class="wrapper wrapper--narrow">
        <h3 class="text-2xl md:text-4xl">Proof of concept - iteration two</h3>
        <p>
            <strong>Key challenge</strong><br>
            In testing, it was loud and clear there isn't enough value to the customer in the portal yet. Customers have a negative perception of car salespeople, coupled with hesistancy over sharing personal details digitally.
        </p>
        <p>
            <strong>Approach</strong><br>
            The focus of the 2nd iteration was around building in perceived value and trying to increase trustworthiness. 
        </p>
        <ul class="list-disc mb-8 ml-10">
            <li>Added in onboarding to create more perceived value, working with a content designer to ensure the flow from email to task completion was clear</li>
            <li>Push to have system integration with their stock database so we can pull in a photo of the car booked for test drive to create more excitement around the car</li>
            <li>Added time labelling onto tasks to give customers more of a sense of time saving, and increased presence of gamification</li>
            <li>Created an 'info panel' design pattern and ensuring at every stage we ask the customer for details, we use this panel to explain why we need the customer's details</li>
        </ul>
        <p>The focus of the 2nd iteration was around building in perceived value and trying to increase trustworthiness.</p>
    </div>
</section>

<section class="cs-section bg-pink py:8 sm:py-12 md:py-20">
    <div class="wrapper wrapper--wide">
        <div class="grid sm:grid-cols-3 sm:gap-8 items-center">
            <div><img src="/images/work/jct600-motion.gif" class="w-full"></div>
            <div><img src="/images/work/jct-cs-mvp-1.png"></div>
            <div><img src="/images/work/jct-cs-mvp-2.png"></div>
        </div>
    </div>
</section>

<section class="cs-section my-8 sm:my-12 md:my-20">
    <div class="wrapper wrapper--narrow">
        <h3 class="text-2xl md:text-4xl">MVP</h3>
        <p>
            <strong>Key challenge</strong><br>
            Customer value is still low - how do we improve this without adding new features?
        </p>
        <p>
            <strong>Approach</strong><br>
            Push to make filling out the portal a more pleasurable experience. 
        </p>
        <ul class="list-disc mb-8 ml-10">
            <li>Worked with Art Director to help inform new visual direction for JCT600 and create a wider (and accessible) colour palette to work from, and allow us to bring in slicker design elements and illustrations</li>
            <li>Redesigned all elements and put the foundations of a design system in place to allow for easier iteration and growth in the future</li>
            <li>Started designing animations and micro-interactions both to create a more enjoyable experience, but also to to provide reassurance in tasks that involve submitting user information</li>
        </ul>
    </div>
</section>

<aside class="bg-pink m-auto max-w-2xl md:p-10 mb-20">
    <h2 class="md:text-3xl">Reflections</h2>
    <h4 class="font-bold md:text-lg">Something cool</h4>
    <p>Exploring micro-interactions and working with deeply ingrained negative perceptions</p>

    <h4 class="font-bold md:text-lg">Biggest takeaway...</h4>
    <p>Document everything - with something so technical, and where certain choices had to be made because of constraints outside our control, it was really beneficial to keep a clear trail of these choices and decisions.</p>
</aside>