---
layout: case-study
tags: work
date: 2020-08-01
title: OneFile
cs_title: Discovering a new product opportunity for apprenticeship learning providers
byline: I lead the discovery for a problem that focused on forms, but quickly found a gap in the market for our client
featured_image: /assets/images/onefile-cover.png
featured_image_alt: JCT600 customer portal onboarding screen
role: Lead designer
contribution: Workshop planning and facilitation, research facilitation, design sprint planning, ideation, prototyping, insight analysis, a bit of product owning
locked: no
---

<section class="cs-section">
    <div class="content-narrow">
        <h2>The challenge</h2>
        <p>OneFile are a provider of learning software for apprenticeships and training. They came to Code with a challenge of wanting to improve an “e-forms” product they offered their customers to help with the data collection required to get a learner onto an apprenticeship scheme, but were also interested in understanding how they could help with providing a better enrolment experience for their customers.</p>
    </div>

</section>

<section class="cs-section">
  <div class="content-narrow">
      <h2>A day zero to kick things off</h2>
      <p><em>How might we help OneFile design and build a better enrolment experience?</em></p>
      <p>This was the starting point for our initial workshop with OneFile. We had half a day, so I built the workshop around four tasks: hopes and fears, lightning talks with how might we generation, jobs pains and gains and lastly sticky steps.</p>
      <p>There are three main user segments when it comes to enrolling in an apprenticeship scheme; the learner, the learning provider and the employer of a learner. I split the workshop group into three to focus on one segment each and note down the jobs, pains and gains of these people and then sticky step out what those types of user are doing through the enrolment process.</p>
      <p>This workshop gave us insight into where the business thought the opportunities and pain points were. It also gave us the understanding we needed to go into research with our key user groups.</p>
  </div>

  <div class="content-narrow cs-spacer">
    <figure>
      <img src="/assets/images/onefile-dz.jpg" alt="Part of a screen showing faces on microsoft teams and some post-it notes on a miro board">
      <figcaption>Facilitating in a remote world</figcaption>
    </figure>
  </div>
</section>

<section class="cs-section">
  <div class="content-narrow">
    <h2>Research sprint</h2>
    <p>We focused the first week of work on speaking to people from our audience segments. Pairing with a researcher, we wrote three discussion guides and conducted 15 depth interviews (5 with each audience segment) to go deeper into understanding the enrolment process and what that looked like across different organisation.</p>
  </div>

  <div class="content-wide cs-spacer">
    <div class="grid cols-thirds-md">
    
      <img src="/assets/images/onefile-expmap.png" alt="Part of an experience map" class="cols-span-2">
      <img src="/assets/images/onefile-jobs.png" alt="Job cards">
    </div>

  </div>

  <div class="content-narrow">
    <p>I took our learnings and created an experience map of the end-to-end journey. We also identified 6 key jobs that were happening across this process and created ‘job cards' to use as ideation start points in the design sprint that was to follow.</p>

    <div class="cs-spacer">
      <img src="/assets/images/onefile-research.png" alt="">
    </div>

    <p>What was interesting about our interviews is that while did hear some participants talk about problems with forms (lots of people were still paper based), the biggest quantity of pain points were for learning providers around process and keeping track of all the learners in their pipeline.</p>
    <p>I also did some market and competitor research in this week and while competitors offered single tools for different parts of the process, there was a real gap in the market and an opportunity for a product to help learning providers with an end-to-end tool.</p>
  </div>
</section>

 <section class="cs-section">
  <div class="content-narrow">
    <h2>Design sprint</h2>
    <p>I took our learnings into a design sprint. As we'd just done a day zero, I condensed the understand part of day one into half a day where I played back what we learned from our research. We used our job cards as starting points for divergence and I took our sprint group through crazy 8s, t-bars and then we finally converged using a storyboarding method to get into the detail of how some of our ideas would work.</p>
    <p>We decided to create a proof-of-concept prototype of a product to help organisations manage the end-to-end process of enrolment and learner management to test. It would give learning providers the ability to manage all their learners, assessors and employers in one place and tasks required by all parties. I rapidly prototyped this tool using a UI kit for speed.</p>
    <p>We chose to not make any forms in the prototype as we already knew the providers needed them, instead choosing test the riskiest assumptions and seeking to establish if our solutions might answer the problems they have.</p>

  </div>
  <div class="content-wide cs-spacer">
    <div class="grid cols-thirds-md">
      <img src="/assets/images/onefile-01.png" alt="">
      <img src="/assets/images/onefile-02.png" alt="">
      <img src="/assets/images/onefile-03.png" alt="">
    </div>
  </div>

  <div class="content-narrow">
    <p>Instead, I focused on some key views:</p>
    <ul>
      <li><strong>homepage dashboard:</strong> to test conceptual features (I could design widgets that served as discussion points) and their relative importance, and to understand if they solve the problems that they have</li>
      <li><strong>Learner pipeline:</strong> to test against a high value pain point</li>
      <li><strong>Learner profile/record:</strong> to test the idea of holding everything in one place</li>
    </ul>
    <p>Testing was really insightful, very successful and after this, we were able to craft a vision statement for the potential product.</p>
    <p>I was then able to prioritise the features and suggest how these could be broken up into a series of beta releases where we'd be able to get feedback and lead up to a public release, before handing this over to our delivery manager and consultant to begin planning how the work would be tackled.</p>
  </div>

</section>

<section class="cs-section">
    <div class="content-narrow">
    <h2>Reflections</h2>
    <ul class="list-none">
        <li>
            <strong>I enjoyed..</strong> the quick pace of research sprint into design sprint and ending up with something of value and opportunity for the client.
        </li>
        <li><strong>My biggest takeaway</strong> was I am not a product manager and working on the roadmap was hard, but helped stretched my skills.</li>
    </div>
</section>