<footer class="page-footer">
  <div class="wrapper">
    <p class="margin-none">&copy; Michelle May 2022. Built with <a href="https://www.11ty.dev/">Eleventy</a> and hosted on <a href="netlify.com">Netlify</a>.</p>
  </div>
</footer>