{% if 'work' in page.url %}<div class="cs-head-wrap">{% endif %}

<div class="wrapper">
    
  <header class="masthead flex">

    {% if page.url === '/' %}
    <h1 class="masthead__logo">
      <a class="masthead__logo-link" href="/" title="{{ site.name }}">
      {% include "partials/logo.njk" %}
      <span class="masthead__logo-text">Michelle May</a>
      </a>
    </h1>
    {% else %}
    <p class="masthead__logo">
      <a class="masthead__logo-link" href="/" title="{{ site.name }}">
        {% include "partials/logo.njk" %}
        <span class="masthead__logo-text">Michelle May</a>
      </a>
    </span>
    {% endif %}

    {# <button class="nav-toggle" aria-label="Open menu" aria-haspopup="true" aria-expanded="false" tabindex="0" data-nav-toggle>☰</button> #}

    <nav class="main-nav">  
      <div class="main-nav__inner">
        {# <button class="main-nav__close" data-nav-close>× close</button> #}
        <ul class="main-nav__list flex">
          {% for item in nav.items %}
          <li class="main-nav__list-item">
            <a href="{{ item.url }}">{{ item.label }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

  </header>
</div>