<header class="masthead flex">

    {% if page.url === '/' %}
    <h1 class="masthead__logo">
      <a class="masthead__logo-link" href="/" title="{{ site.name }}">
      {% include "partials/logo.njk" %}
      Michelle May
      </a>
    </h1>
    {% else %}
    <p class="masthead__logo">
      <a class="masthead__logo-link" href="/" title="{{ site.name }}">
        {% include "partials/logo.njk" %}
        Michelle May
      </a>
    </span>
    {% endif %}

    <nav class="main-nav">
      <ul class="main-nav__list flex">
        {% for item in nav.items %}
        <li class="main-nav__list-item">
          <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

</header>
